{% extends "blog/base.html" %}
{% block content %}
    <h1>Benefits of blogs in education</h1>

        <p>
            Blogs offer many benefits for education:
        </p>

        <ul>
            <li>Promotes autonomous learning by providing opportunities for students to take more control of their learning</li>

            <li>Motivates students to become better readers and writers.</li>

            <li>Promotes discussion among students.</li>

            <li>Encourages the use of the Internet and the Web among students (and teachers)</li>
        </ul>
{% endblock content %}
